header
{
  background-color: #4a4a4a;
padding: 10px 0;  
}
.header_menu
{
    padding-left: 0;
    margin-bottom: 0;
}
.header_menu li
{
list-style-type: none;
display: inline-block;
position: relative;
}
.header_menu li a
{
    color: #fff;
    padding: 8px 32px;
    display: block;
}
header h1
{
    margin: 0;
    color: #fff;
font-weight: 800;
}
.header_menu .login
{
    background-color: #55ACEE;
}
.header_menu .join
{
    background-color: #2273c9;
} 
.header_menu li input
{
width: 138px;
height: 36px;
padding-left: 9px;
padding-right: 26px;
transition: 0.3s;
}
.header_menu li i
{
position: absolute;
z-index: 1;
right: 7px;
top: 10px;
cursor: pointer;
color: #666;
}
.header_menu li input:focus
{
    width: 188px;
}