<footer>
    <div class="container">
      <div class="submenus">
        <ul>
          <li><a href="" class="font_Brandon">About</a></li>
          <li><a href="" class="font_Brandon">Careers</a></li>
          <li><a href="" class="font_Brandon">Sitemap</a></li>
        </ul>
      </div>
      <div class="footer_middle_div">
      <div class="col-md-3 padding0">
        <p class="font_Brandon"><b>SUPPORT</b></p>
        <p><a href="">24/7 Support</a></p>
      </div>
      <div class="col-md-5">
        <p class="font_Brandon"><b>LOGO</b></p>
        <p><a href="">Contact</a></p>
        <p><a href="">Partner program</a></p>
      </div>
      <div class="col-md-3">
        <p class="font_Brandon">COOKIES</p>
        <p style="font-weight:200">By continuning your visit to this site, you agree to the use of cookies.</p>
        <p><a href="">Learn More</a></p>
      </div>
      <div class="clear"></div>
      </div>
      <div class="footer_last">
        <div class="col-md-4 padding0">
          <a href=""><i class="fa fa-facebook-official"></i></a> &nbsp; 
          <a href=""><i class="fa fa-twitter"></i></a> &nbsp; 
          <a href=""><i class="fa fa-youtube"></i></a> &nbsp; 
          <a href=""><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="col-md-8 text-right">
          <a href="">Terms of Service</a> &nbsp;   &nbsp; 
          <a href="">Privacy Policy</a> &nbsp;  &nbsp; 
          <a href=""><i class="fa fa-globe"></i> &nbsp;United Kingdom</a>
        </div>
        <div class="clear"></div>
      </div>
    </div>
</footer>