<router-outlet></router-outlet>
<app-header></app-header>


<div class="large_gap"></div>
<div class="container">
    <div class="col-md-12 padding0">
        <div class="col-md-9">

            <h3 class="blog_title font_Museo">Dealing With Caffeine Withdrawal</h3>
            <div class="col-md-6 padding0 font_Brandon"><h4 class="font_Brandon">Live Well</h4></div>
            <div class="col-md-6 text-right font_Brandon"><p class="font_Brandon">13 April 2017</p></div>
            <div class="clear"></div>
            <img src="./assets/img/blogs/caffeine-withdrawal-1024x554.jpg" class="img100">
            
            <div class="icons_commmen_div">
                
                <div class="col-md-6 padding0 social_icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="col-md-6 padding0 text-right"><p class="font_Brandon"><i class="fa fa-comment-o"></i>15 Comments </p></div>
                <div class="clear"></div>
            </div>
            <div class="artilce_content">
                <p>Although there’s <b>plenty of evidence</b> to suggest that a morning cup of joe or a midday coffee break can positively influence your health (and boost productivity), excessive caffeine consumption can be a real problem. For most healthy adults, consuming less than 400 mg of caffeine (roughly the amount found in four cups of brewed coffee) per day is perfectly safe. Moderate coffee intake has even been associated with everything from enhanced exercise performance to a lowered risk of heart disease.</p>
                <div class="large_gap"></div>
                <p>However, some people, including pregnant women, people who suffer from <b>panic attacks</b> or <b>anxiety</b>, surgical patients, people with irregular or inappropriately fast heart rates, or anyone who is prone to caffeine dependency may need to limit consumption or quit the java habit altogether. One major obstacle to <b>cutting out caffeine</b>? Withdrawal. Although only about 50 percent of coffee drinkers actually experience the unpleasant symptoms, many are reluctant to quit because they’ve heard headache and crankiness horror stories. But stepping away from the coffee machine doesn’t have to be painful — it just takes preparation.</p>
                <div class="large_gap"></div>
                <h3 class="font_Brandon">What is caffeine withdrawal?</h3>
                <div class="little_gap"></div>
                <p>Caffeine is a stimulant and can be chemically addictive. Although it doesn’t necessarily jeopardize health the same way other drugs do, it is possible to develop a dependence. Quitting caffeine abruptly, especially if you’ve been consuming two or more cups of coffee a day, can cause physical, psychological, and emotional symptoms. In fact, caffeine intoxication and caffeine withdrawal are classified as mental disorders in the American Psychiatric Association’s Diagnostic and Statistical Manual of Mental Disorders (DSM) when either one interferes with daily life.</p>
                <p>Withdrawal can occur with abstinence from daily doses as low as 100 mg a day, but the likelihood and severity of symptoms increases with higher amounts. There is even a genetic propensity toward caffeine withdrawal, so if someone in your family has experienced the effects, you might need to take extra precautions when cutting back.</p>                    
                <div class="large_gap"></div>
                <h3 class="font_Brandon">What are the symptoms of caffeine withdrawal?</h3>
                <div class="little_gap"></div>
                <p>Headaches are the most common symptom, occurring in about 50 percent of people experiencing withdrawal. But there are a variety of other issues that can accompany quitting caffeine, including:</p>
                <ul>                   
                    <li>Fatigue</li>
                    <li>Anxiety</li>
                    <li>Irritability</li>
                    <li>Depressed mood</li>
                    <li>Difficulty concentrating</li>
                    <li>Drowsiness</li>
                    <li>Brain fog</li>
                    <li>Flu-like symptoms with muscle aches</li>
                </ul>
                <p>Symptoms typically begin within 12 to 24 hours after discontinuing caffeine, peaking during the first two days, and can last all the way up to day nine. Although high-dosing coffee drinkers are more likely to experience intense symptoms, it only takes about three days of regular caffeine consumption to create the withdrawal effects. Re-introducing caffeine during the withdrawal period can actually reverse the symptoms within just 30 to 60 minutes, but that will make it harder to reach your ultimate goal of total abstinence.</p>
                <div class="large_gap"></div>
                <h3 class="font_Brandon">How do I beat the symptoms?</h3>
                <div class="little_gap"></div>
                <p>You can triumph over a caffeine habit and survive the symptoms of withdrawal by following these tips:</p>
                <ul>
                    <li>Avoid withdrawal altogether by limiting your daily caffeine consumption; if you normally drink 4 cups, drink 3, then 2, and so on.</li>
                    <li>Gradually reduce the caffeine content of your beverage; switch to half caf or decaf coffee or tea before quitting altogether.</li>
                    <li>Replace caffeinated beverages with herbal teas to soothe symptoms and counteract dehydration, which can worsen headaches and withdrawal symptoms.</li>
                    <li>Get extra sleep to combat fatigue and grogginess.</li>
                    <li>Go for a morning run or fit in a quick workout to naturally boost your energy without caffeine.</li>
                </ul>
                <div class="text-right social_icon">
                    <i class="fa fa-facebook"></i>
                    <i class="fa fa-twitter"></i>
                    <i class="fa fa-pinterest-p"></i>
                    <i class="fa fa-google-plus"></i>
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="large_gap"></div>
                <div class="articles_next_btn_div">
                <div class="col-md-6 padding0"><button>Prev Article</button></div>
                <div class="col-md-6 padding0 text-right"><button>Next Article</button></div>
                <div class="clear"></div>
                </div>
            </div>
            <div class="comments_div">
                <h3 class="font_Brandon"><i class="fa fa-comment-o"></i> Comments</h3>
                <div class="large_gap"></div>
                <div class="total_comments">
                <div class="col-md-6 padding0"><p class="font_Brandon">4 Comments</p></div>
                <div class="col-md-6"><p></p></div>
                <div class="clear"></div>
                </div>
                <div class="all_comments_div">
                    <div class="add_comment">
                        <div class="col-md-1 pl0"><img src="./assets/img/profile/default.jpg"></div>
                        <div class="col-md-11 padding0">
                            <textarea placeholder="Add a comment.."></textarea>
                            <div class="text-right"><button class="disabled_btn">Post</button></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="single_comments_div">
                        <div class="col-md-1 pl0"><img src="./assets/img/profile/1.jpg" class="img100"></div>
                        <div class="col-md-11 padding0">
                            <p class="User_name">Renee Handley</p>
                            <p class="user_comment">But what about someone like me who drinks no less than six liters of Coke a day? Everyday.</p>
                            <a href="">Like</a> &nbsp; 
                            <a href="">Reply</a> &nbsp; 
                            <span><i class="fa fa-thumbs-o-up"></i> 10</span> &nbsp; 
                            <span class="comment_time">7 Nov 2016 , 08:46 am</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="little_gap"></div>
                    <div class="single_comments_div">
                        <div class="col-md-1 pl0"><img src="./assets/img/profile/2.jpg" class="img100"></div>
                        <div class="col-md-11 padding0">
                            <p class="User_name">Anne Gallacher</p>
                            <p class="user_comment">I have all these withdrawal symptoms at the moment, but I drink quite alot of coffee daily. I have not stopped. Could it be that coffee causes these symptoms?</p>
                            <a href="">Like</a> &nbsp; 
                            <a href="">Reply</a> &nbsp; 
                            <span><i class="fa fa-thumbs-o-up"></i> 10</span> &nbsp; 
                            <span class="comment_time">7 Nov 2016 , 08:46 am</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="little_gap"></div>
                    <div class="single_comments_div">
                        <div class="col-md-1 pl0"><img src="./assets/img/profile/3.jpg" class="img100"></div>
                        <div class="col-md-11 padding0">
                            <p class="User_name">Niccy Gates</p>
                            <p class="user_comment">I started whittling down my caffine intake 3 weeks ago. It started when I made myself a decaff tea (out of preference) in the morning at work instead of my usual caffinated coffee. I actually had to go home that day or the following day due to in intense migraine which I now can only assume was due to the lack of caffeine I had. As I did not want that awful day to be in vain I continued to decrease my caffeine with decaff. I am now completely on decaff except for a normal coffee I got stuck with at a meeting recently. I am mostly over the headaches but for the last week have slept every evening by 10pm. I am even tired typing this comment.</p>
                            <a href="">Like</a> &nbsp; 
                            <a href="">Reply</a> &nbsp; 
                            <span><i class="fa fa-thumbs-o-up"></i> 10</span> &nbsp; 
                            <span class="comment_time">7 Nov 2016 , 08:46 am</span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="little_gap"></div>
                    <div class="load_Com_div"><p class="font_Brandon"><i class="fa fa-angle-down"></i> &nbsp;Load More Comments</p></div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div style="margin-top:67px;"></div>
            <div class="article_author">
                <img src="./assets/img/profile/8.jpg" class="img100">
                <div class="auth_pro_deta">
                <h4 class="font_Brandon">Author</h4>
                <p class="Author_Name font_Brandon">Michelle Konstantinovsky</p>
                <p class="Author_details">Michelle Konstantinovsky works with the marketing and medical teams at One Medical Group to produce content on a variety of wellness-oriented topics ranging from breaking… </p>
                <div class="text-right"><a href="" class="font_Brandon">View Profile</a></div>
                </div>
            </div>
            <div class="related_Articles">
                <h3 class="font_Museo">Related Articles</h3>

                <h4 class="font_Brandon">Eat Well</h4>
                <p>18 Soul-Satisfying Snacks From Our Nutritionist</p>

                <h4 class="font_Brandon">Aging Well</h4>
                <p>How to Protect Your Hearing</p>

                <h4 class="font_Brandon">Heart Health</h4>
                <p>3 Ways Owning a Pet is Good for You</p>
            </div>
        </div>
        <div class="large_gap"></div>
        <div class="clear"></div>
        <div class="large_gap"></div>
    </div>
</div>
<app-footer></app-footer>