<router-outlet></router-outlet>
<!--<div class="bg_img">
<img src="./assets/img/logo.png" class="logo_img">

<div class="banner_content text-center">
  <h1>Lettings and Management made simple.</h1>
  <p>Landlrd seamlessly organises your property portfolio whilst removing the headache of lettings and management.</p>
  <div class="input_div">
    <input type="text" placeholder="Enter your Email Address">
    <button>Get Started</button>
  </div>
</div>

</div>

<div class="gap_btwn_session"></div>

<div class="container">
<h1 class="Museo_font text-center font_bold">Maximise your properties' potential</h1>
<hr class="little_line_divide">
<p class="heading2">Let us transform your property portfolio</p>
<div class="maximise_div_full">
<ul class="maximise_div">
  <li class="text-center maximise_active_li" id="portfolio_li"><i class="fa fa-suitcase"></i><br> Portfolio</li>
  <li class="text-center" id="letting_li"><i class="fa fa-key"></i><br> Lettings</li>
  <li class="text-center" id="management_li"><i class="fa fa-users"></i><br> Management</li>
  <div class="clear"></div>
</ul>
  <div class="gap_btwn_session"></div>
<div class="maximise_slider_full_div">
<div class="maximise_slider_div" id="M_P_div">  
  <div class="col-md-4 pl0">
    <h3>All in one place</h3>
    <p class="slider_heading font_bold">Keep everything organised</p>
    <p>Take advantage of our platform, it lets you store all information regarding your property, all accessible by the click of a button.</p>

    <p class="slider_heading font_bold">Created by landlords, for landlords.</p>
    <p>Having managed properties, we have recognised the problems landlords face & built an application that we require ourselves.<br> Say goodbye to those time consuming spreadsheets..</p>
  </div>
  <div class="gap_btwn_session"></div>
  <div class="col-md-8 padding0">
    <img src="./assets/img/storefront.png">
  </div>
<div class="clear"></div>
</div>

<div class="maximise_slider_div" id="M_L_div">  
  <div class="col-md-4 pl0">
    <img src="./assets/img/phone.png" style="width: 260px;">
  </div>
  <div class="gap_btwn_session"></div>
  <div class="col-md-8 padding0">
    <h3>New tenants? Lettings just became a whole lot easier.</h3>
    <div class="col-md-6">
    <p class="slider_heading font_bold">Simple, fast and effective</p>
    <p>Straight from the dashboard you can submit your property to be listed; once reviewed it will be uploaded to all major portals.</p>
    <p class="slider_heading font_bold">Want us to handle the process?</p>
    <p>Once we collect the keys, we will take care of the viewings for you and follow up with full tenant referencing (including credit checks), tenancy agreements, deposit securing and more.</p>
    </div>
    <div class="col-md-6">
    <p class="slider_heading font_bold">Exceptional service</p>
    <p>Both landlords and tenants can benefit from our 24/7 support. We also include rent collection, which updates to the property accounts automatically.</p>
    <p class="slider_heading font_bold">Remarkable value</p>
    <p>Just 5.5% for our letting service with no hidden costs. This includes absolutely no fees unless we find you the right tenants.</p>
    </div>
   

    
  </div>
<div class="clear"></div>
</div>

<div class="maximise_slider_div" id="M_M_div">  
  <div class="col-md-4 pl0">
    <h3>Complete peace of mind.</h3>
    <p class="slider_heading font_bold">Maintenance and Repairs</p>
    <p>Should a problem arise, we will conduct an assessment and manage the repair on your behalf. Any upcoming maintenance work will also be arranged by us.</p>

    <p class="slider_heading font_bold">Tenants & Inspections</p>
    <p>Our property managers will carry out detailed inspections with results viewable on our platform. We shall check the tenants in and out with a signed inventory and include regular inspections to ensure no disputes arise. </p>

    <p class="slider_heading font_bold">Arrears prevention & No void periods</p>
    <p>We monitor rental payments to make sure tenants continue to pay in advance. Should tenants fall behind, our arrears prevention team will take over.</p>

    <p class="slider_heading font_bold">Transparent pricing</p>
    <p>No hidden costs/fees. No void periods. All at just 4%.</p>
  </div>
  <div class="gap_btwn_session"></div>
  <div class="col-md-8 padding0">
    <img src="./assets/img/storefront.png">
  </div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>

<div class="gap_btwn_session"></div>
</div>
</div>




<div class="slider_2">
  <div class="container">
  <h1 class="Museo_font text-center font_bold">The Platform</h1>
    <hr class="little_line_divide">
    <p class="heading2">Manage your inspections, repairs and more</p>
    <div class="slider_2_div">
      <ul>
        <li class="text-center slider_2_active"><i class="fa fa-pencil-square-o"></i><br> Tenancies</li>
        <li class="text-center"><i class="fa fa-cog"></i><br> Maintenance</li>
        <li class="text-center"><i class="fa fa-search-plus"></i><br> Inspections</li>
        <li class="text-center"><i class="fa fa-calculator"></i><br> accounts</li>
        <div class="clear"></div>
      </ul>
      <div class="slider_2_4divs">
        <div class="platform_div">
            <div class="col-md-4">
                <h3>Listed to all major portals</h3>
                <p class="slider_heading font_bold">Past, present and upcoming tenancies</p>
                <p>Create and manage tenancies from beginning to end. Keep a detailed history over the years of your property.</p>
                <p class="slider_heading font_bold">Market exposure</p>
                <p>Get real time updates on your property viewings, as well as keeping track of every appointment received from our advertising portals.</p>
                <p class="slider_heading font_bold">Electronic Signatures</p>
                <p>All documents can be electronically signed by tenants and landlords, adding convenience whilst minimising the delays of paper contracts.</p>
            </div>       
            <div class="col-md-8">
              <img src="./assets/img/addons.png">  
            </div> 
            <div class="clear"></div>      
        </div>

      </div>
    </div>
  </div>
  <div class="padding_btwn_session"></div>
</div>






<div class="footerbannerblue">
  <div class="bluebanner_div">
  <h1 class="Museo_font text-center font_bold F_B_B">Need an invitation?</h1>
  <p class="text-center">In an effort to ensure the highest quality of service, access to Landlrd is currently by invitation only</p>
</div>
</div>

<div class="footerbannerwhite">
  <p class="text-center">Apply for early access to Landlrd now!</p>
   <div class="input_div">
    <input type="text" placeholder="Enter your Email Address">
    <button>Get Started</button>
  </div>
</div>-->